In [36]:
import pandas as pd 

synthetic_data = pd.DataFrame({'Title':["Inception","The Dark Knight","Intersteler","The Shawshank Redemption","Parasite"],
                               'Year':[2010,2008,None,1994,2019],
                              'Genere':["Sci-Fi",None,"Adventure","Drama","Thriller"],
                              'Rating':[8.8,9.0,8.6,None,8.5],
                              'Duration':[169,142,132,148,152]
                               })
print(synthetic_data)


#Displaying first 3 rows 
print(synthetic_data[:3])



#Column names and data type
print(synthetic_data.dtypes)


#missing values in the data 
print(synthetic_data.isnull().sum())

                      Title    Year     Genere  Rating  Duration
0                 Inception  2010.0     Sci-Fi     8.8       169
1           The Dark Knight  2008.0       None     9.0       142
2               Intersteler     NaN  Adventure     8.6       132
3  The Shawshank Redemption  1994.0      Drama     NaN       148
4                  Parasite  2019.0   Thriller     8.5       152
             Title    Year     Genere  Rating  Duration
0        Inception  2010.0     Sci-Fi     8.8       169
1  The Dark Knight  2008.0       None     9.0       142
2      Intersteler     NaN  Adventure     8.6       132
Title        object
Year        float64
Genere       object
Rating      float64
Duration      int64
dtype: object
Title       0
Year        1
Genere      1
Rating      1
Duration    0
dtype: int64

In [34]:
# drop rows with missing values
new_data = synthetic_data.dropna()
print(new_data)

# drop if row has Missing all values 
new_data1 = synthetic_data.dropna(how="all")

avg = synthetic_data['Year'].mean()
new_data2=synthetic_data['Year'].fillna(avg)

new_dat3=synthetic_data['Rating'].fillna('0')
new_dat3=synthetic_data['Genere'].fillna("unknown")

       Title    Year    Genere  Rating  Duration
0  Inception  2010.0    Sci-Fi     8.8       169
4   Parasite  2019.0  Thriller     8.5       152

In [43]:
sales_data = pd.DataFrame({
    'Date': ['2024-01-01', '2024-01-02', '2024-01-03'],
    'Price': ['29.99', '15.50', '89.00'],  # Should be float
    'Quantity': ['5', '3', '7'],           # Should be numeric
    'Is_Weekend': ['True', 'False', 'False']  # Should be boolean
})


print(sales_data.dtypes)

sales_data["Price"]=sales_data["Price"].astype('float')
sales_data['Quantity']=sales_data['Quantity'].astype('int')
sales_data['Is_Weekend']=sales_data['Is_Weekend'].astype('bool')
sales_data['Date']=sales_data['Date'].astype('datetime64[ns]')

print(sales_data.dtypes)

Date          object
Price         object
Quantity      object
Is_Weekend    object
dtype: object
Date          datetime64[ns]
Price                float64
Quantity               int64
Is_Weekend              bool
dtype: object

In [59]:
df = pd.read_csv("bmw.csv")
df.head()

print(df[df['year'] > 2016])

print(df[(df['price'] > 25000 & df['price'] < 15000)])

           model  year  price transmission  mileage fuelType  tax   mpg  \
1       6 Series  2018  27000    Automatic    14827   Petrol  145  42.8
3       1 Series  2017  12750    Automatic    26676   Diesel  145  72.4
6       5 Series  2017  16000    Automatic    38538   Diesel  125  60.1
7       2 Series  2018  16250       Manual    10401   Petrol  145  52.3
8       4 Series  2017  14250       Manual    42668   Diesel   30  62.8
...          ...   ...    ...          ...      ...      ...  ...   ...
10755   2 Series  2019  18887    Automatic    13955   Petrol  145  50.4
10772   1 Series  2017  10200       Manual    41435   Diesel    0  83.1
10773         X1  2017  15900    Automatic    60372   Diesel  125  57.6
10778   3 Series  2017  13100       Manual    25468   Petrol  200  42.8
10780         X1  2017  15981    Automatic    59432   Diesel  125  57.6

       engineSize
1             2.0
3             1.5
6             2.0
7             1.5
8             2.0
...           ...
10755         1.5
10772         1.5
10773         2.0
10778         2.0
10780         2.0

[6787 rows x 9 columns]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().