In [17]:
import pandas as pd
print(pd.__version__)

# Reading CSV file using pandas
df = pd.read_csv("bmw_with_missing_data.csv")

# Showing first 5 rows
print(df.head())

# Sum of all missing values (per column)
missing_values = df.isnull().sum()
print("Missing values per column:\n", missing_values)

# Total missing values in the dataset
total_missing = missing_values.sum()
print("Total missing values:", total_missing)

# Remove all rows with missing 'price'
remove_rows = df.dropna(subset=['price'])
print("\nAfter removing rows with missing 'price':")
print(remove_rows)

# Fill missing 'year' values with most common year (mode)
common_year = remove_rows['year'].mode()[0]
print("\nMost common year:", common_year)

remove_rows['year'].fillna(common_year, inplace=True)

print("\nAfter filling missing 'year' values:")
print(remove_rows)

# Average price after cleaning
price_mean = remove_rows['price'].mean()
print("\nAverage price after cleaning:", price_mean)

2.3.2
      model  year  price transmission mileage fuelType  tax   mpg engineSize
0  5 Series  2014  11200    Automatic   67068   Diesel  NaN  57.6        2.0
1  6 Series   NaN  27000    Automatic   14827   Petrol  145  42.8        2.0
2  5 Series  2016  16000          NaN   62794   Diesel  160  51.4        3.0
3  1 Series  2017  12750    Automatic   26676   Diesel  NaN  72.4        1.5
4  7 Series  2014    NaN    Automatic   39554   Diesel  160  50.4        3.0
Missing values per column:
 model            9
year            20
price           17
transmission    14
mileage         16
fuelType        14
tax              7
mpg             14
engineSize       5
dtype: int64
Total missing values: 116

After removing rows with missing 'price':
          model  year  price transmission mileage  fuelType  tax    mpg  \
0      5 Series  2014  11200    Automatic   67068    Diesel  NaN   57.6
1      6 Series   NaN  27000    Automatic   14827    Petrol  145   42.8
2      5 Series  2016  16000          NaN   62794    Diesel  160   51.4
3      1 Series  2017  12750    Automatic   26676    Diesel  NaN   72.4
5           NaN  2016  14900    Automatic   35309    Diesel  125   60.1
..          ...   ...    ...          ...     ...       ...  ...    ...
101     UNKNOWN  2020  25000          NaN    8000  Electric    0  200.0
102  ERROR_DATA   abc    xyz       Manual     def    Petrol  ghi    jkl
103   DUPLICATE  2016  14000    Automatic   50000    Diesel  125   60.1
104   DUPLICATE  2016  14000    Automatic   50000    Diesel  125   60.1
105          X7  2020  45000    Automatic    5000    Petrol  NaN   42.5

    engineSize
0          2.0
1          2.0
2          3.0
3          1.5
5          2.0
..         ...
101        NaN
102        mno
103        2.0
104        2.0
105        3.0

[90 rows x 9 columns]

Most common year: 2016

After filling missing 'year' values:
          model  year  price transmission mileage  fuelType  tax    mpg  \
0      5 Series  2014  11200    Automatic   67068    Diesel  NaN   57.6
1      6 Series  2016  27000    Automatic   14827    Petrol  145   42.8
2      5 Series  2016  16000          NaN   62794    Diesel  160   51.4
3      1 Series  2017  12750    Automatic   26676    Diesel  NaN   72.4
5           NaN  2016  14900    Automatic   35309    Diesel  125   60.1
..          ...   ...    ...          ...     ...       ...  ...    ...
101     UNKNOWN  2020  25000          NaN    8000  Electric    0  200.0
102  ERROR_DATA   abc    xyz       Manual     def    Petrol  ghi    jkl
103   DUPLICATE  2016  14000    Automatic   50000    Diesel  125   60.1
104   DUPLICATE  2016  14000    Automatic   50000    Diesel  125   60.1
105          X7  2020  45000    Automatic    5000    Petrol  NaN   42.5

    engineSize
0          2.0
1          2.0
2          3.0
3          1.5
5          2.0
..         ...
101        NaN
102        mno
103        2.0
104        2.0
105        3.0

[90 rows x 9 columns]

C:\Users\Sakshi Ladkat\AppData\Local\Temp\ipykernel_5148\3531349081.py:27: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  remove_rows['year'].fillna(common_year, inplace=True)
C:\Users\Sakshi Ladkat\AppData\Local\Temp\ipykernel_5148\3531349081.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  remove_rows['year'].fillna(common_year, inplace=True)

TypeError: Could not convert string '1120027000160001275014900160001625014250142501550011800155001050016500142501600015500140001260015100940014300112001780019750174001680023000171002050011900130001350018900146001580011400175002350016700180001550092001320011000185001275014000140001275018000111001270014500127501080013000125001360012700152501170010900144001110012400128001500021750139001400013500121501600014000194901549913000230002999812498794817800131003500025000xyz140001400045000' to numeric